<!-- <p>dashboardpage works!</p> -->

 <!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/dashboardpage/home">Home</a>
        <!-- <a class="nav-item nav-link" routerLink="/">LogOut</a>  worked link-->  
       
        <a class="nav-item nav-link" routerLink="/dashboardpage/about">About</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
   
    
    
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1> {{user}}</h1>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="#" target="_top">@Angular 8 </a>
    </p>
   
</div>
 
